<a href="/">Home</a>   | <a href="/add">Add</a>  |    <a href="/display">Display</a>
<br/><a href="/add-users-api">Add API </a>  |    <a href="/get-all-users-api">Display API</a> |<a href="/get-users-details-api/">Detail API </a>
| <a href="/update-users-api/">Edit API </a>  |    <a href="/delete-users-api/">Delete API</a>